
<div lang="canv" >
        <svg id ="cann" >
                <!--circle cx="90" cy="40" r="5" fill="rgb(80,230,234)"></circle-->
                <!--circle cx="10" cy="50" r=9 fill="rgb(64, 191, 64)" ></circle>
                <circle cx="90" cy="40" r="5" fill="rgb(164, 6, 207)"></circle>
                <circle cx="540" cy="400" r="5" fill="rgb(164,6,207)"></circle>
                <circle cx="270" cy="4080" r="5" fill="rgb(143,48,24)"></circle>
                <circle cx="540" cy="4080" r="5" fill="rgb(143,48,24)"></circle>
                <circle cx="360" cy="4040" r="5" fill="rgb(226,43,121)"></circle-->
        </svg>
        
        <p id="debu"> </p>
</div>