<div lang="formu">
    <fieldset>
        <legend>Nuevo Usuario:</legend>

        <br>
        <div>
                <img src="images/user.png">
        </div>
        <br>
        
        <form id="form1">
            <input id="user-name" placeholder="Nombre" lang="useform" >
            <input type="password" id="psw" lang="useform">
                       
        </form>
        <br>     
        <button id="bregistrar" lang="useform" onclick="cregistro()">Registrar</button>
    </fieldset>
    <p id="debu"> </p>
    
</div>